<h1>Log In</h1>
<%= form_for :login do |f| %>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.submit "LOGIN" %>
	</div>
<% end %> 

<%= link_to 'Log Out', logout_path, method: :delete %>