<h1> welcome <%= current_user.name %>!</h1>

 
 <p>This is inspired by GoogleKeep. Feel free to use this as a way to save your thoughts online so that they are accessible whenever you need them. </p> 

<% @user.notes.each do |note| %>
	<div class="jumbotron bg-warning" > 
	<p class="bg-info"><%= note.title %></p>
	<p class="bg-warning"><%= note.list %></p>
	<br>
	<%= link_to 'DELETE', delete_note_path(note.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	<br>
	</div>
<% end %> 

<% @user.pictures.each do |post| %>
    <%= picture.title %><br>
    <%= image_tag post.image.url(:large) %><br><hr>
    <%= link_to 'DELETE', delete_picture_path(picture.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br><br>

<%= link_to "CREATE A NEW NOTE", new_user_note_path(@user) %>
<%= link_to "UPLOAD A PICTURE" , new_user_picture_path(@user) %>



<br><br>
<%= link_to 'Log Out', logout_path, method: :delete %>