<h1> welcome <%= current_user.name %>!</h1>

 
 <p>This is inspired by GoogleKeep. Feel free to use this as a way to save your thoughts online so that they are accessible whenever you need them. </p> 

<% @user.notes.each do |note| %>
	<%= note.title %>
	<%= note.list %>
	
<% end %> 


<%= link_to "CREATE A NEW NOTE", new_user_note_path(@user) %>
<%= link_to "UPLOAD A PICTURE" , new_user_picture_path(@user) %>